.flex {
  display: flex;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

.bold {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

.line {
  border: solid 0.6px #e0e0e0;
  background-color: #d8d8d8;
  height: 0.4px;
  width: 100%;
  display: block;
}

.light-blue {
  color: #80c5d0;
}

.yellow {
  color: #f0c978;
}

.pinkish-pink {
  color: #ff998f;
}

.green-bg {
  background: #7dd8a9;
}

.red-bg {
  background: #fda18e;
}

.silver-bg {
  background: #bcbcbc;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.mb-2 {
  margin-bottom: 0.5rem;
}
